.vermillon {
    color: var(--vermillon);
}

header,
#podcast {
    background-color: var(--champagne);
}

header,
header nav,
header nav .left,
header nav .right,
nav a,
#dropdown,
#dropdown button,
#dropdown-content,
#podcast,
#podcast .top,
#podcast .main-content,
#podcast #episodes,
#podcast #episodes .card,
.top .main-content .descri,
.viewport,
#podcast-sponsor {
    display: flex;
    align-items: center;
}

header {
    z-index: 16;
    width: 100%;
    gap: 7.6rem;
    padding: .8rem var(--horiz-padding);
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

header .logo {
    width: 4.4rem;
    height: 4.4rem;
}

header nav {
    width: 100%;
    justify-content: space-between;
}

nav a,
#dropdown button {
    font-size: 1rem;
    gap: .3rem;
    align-items: center;
    justify-content: center;
}

#dropdown {
    flex-direction: column;
    position: relative;
}

#dropdown-content {
    display: none;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    padding: .6rem 0;

    position: absolute;
    top: 100%;
    left: 0;
}

#dropdown-content a {
    width: 100%;
    padding: .4rem .8rem;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
    -o-transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

#dropdown-content a:hover {
    background-color: var(--champagne);
    color: var(--black);
}

#dropdown-content a.active {
    background-color: var(--vermillon);
}

nav .left>a {
    position: relative;
}

nav .left>a::before {
    content: "";
    position: absolute;
    top: calc(100% + .2rem);
    width: 0;
    border-bottom: .2rem solid var(--vermillon);
    transition: width .25s ease-in-out;
    -webkit-transition: width .25s ease-in-out;
    -moz-transition: width .25s ease-in-out;
    -ms-transition: width .25s ease-in-out;
    -o-transition: width .25s ease-in-out;
}

nav .left>a:hover::before,
nav .left>a.active::before {
    width: 2rem;
}

#dropdown button {
    background-color: transparent;
    border: none;
}

#dropdown:hover #dropdown-content {
    display: flex;
    align-items: flex-start;
    gap: .6rem;
}

#dropdown:hover #dropdown-content a,
#dropdown:hover #dropdown-content {
    /*opacity: 0;
        */
    animation: fade-in 0.25s cubic-bezier(0.19, 0.35, 0, 1) calc(.05s * var(--i)) 1 forwards;
    -webkit-animation: fade-in 0.25s cubic-bezier(0.19, 0.35, 0, 1) calc(.05s * var(--i)) 1 forwards;
    animation-fill-mode: both;
}

header nav #spacer {
    display: none;
}

header nav .left {
    gap: 3.4rem;
}

header nav .right {
    gap: 1rem;
}

#nav-toggler {
    display: none;
}

nav .right button,
#recent-btn {
    padding: 0.6rem 1.4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: .05rem;

    border: 2px solid var(--black);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

nav a img {
    width: 1rem;
    height: 1rem;
}

nav .right button {
    background-color: var(--black);
    color: var(--white);
}

#podcast {
    flex-direction: column;
    gap: 6rem;
    padding-bottom: var(--vert-padding);
}

.podcast>* {
    padding-top: var(--vert-padding);
}

#podcast .top {
    justify-content: space-between;
    width: 100%;
}

#podcast .top .main-content {
    flex-direction: column;
    gap: 3.5rem;
    width: 44%;
}

#podcast .top .svg-container {
    width: 28%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5.3rem;
}

#podcast .top .svg-container:nth-of-type(1) {
    justify-content: flex-start;
}

#podcast .top .svg-container:nth-of-type(1) svg {
    height: 36rem;
    width: auto;
}

#podcast .top .svg-container.star svg {
    height: 13rem;
    width: auto;
}

.top .main-content .descri {
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    width: 100%;
}

.top .main-content h1 {
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.24rem;
}

.top .main-content p {
    width: 50%;
    max-width: 383px;
    color: var(--grey);
    font-weight: 500;
    line-height: 160%;
    letter-spacing: .008rem;
}

#episodes {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
    overflow: hidden;
    /* border: 4px solid cyan; */
    padding-bottom: 1rem;
    /* scroll-snap-type: x mandatory; */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
    scrollbar-color: var(--vermillon) transparent;
}

#episodes::-webkit-scrollbar {
    display: none;
}

#episodes:hover::-webkit-scrollbar {
    display: block;
}

#episodes::-webkit-scrollbar {
    opacity: 0;
    height: 1rem;
}

#episodes::-webkit-scrollbar-button {
    opacity: 0;
}

#episodes::-webkit-scrollbar-track {
    background: transparent;
}

#episodes::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--vermillon);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

#episodes .viewport {
    margin: 0 2rem;
    width: max-content;
    gap: 1.2rem;
}

#episodes .card {
    flex-direction: column;
    width: 23rem;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

#episodes .card .content {
    padding: 1.1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#episodes .card .content p {
    color: var(--blue);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

#episodes .card:hover>img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card .platform {
    display: flex;
    gap: 0.4rem;
    justify-content: flex-end;
    align-items: center;
}

.card .platform img {
    width: 1.5rem;
    height: auto;
}

.card .platform img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#episodes .card>img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#episodes .card img {
    transition: transform .25s ease-in-out;
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
}

#podcast-sponsor {
    flex-direction: column;
    padding: 1.25rem var(--horiz-padding);
    width: 100%;
    gap: 1.4rem;
}

#podcast-sponsor .line {
    display: flex;
    width: 100%;
    border-bottom: .1rem solid var(--grey);
}

#podcast-sponsor .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

    position: relative;
}

#podcast-sponsor p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 140%;
    text-wrap: nowrap;
}

#podcast-sponsor .imgs {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    height: 4rem;

    justify-content: flex-start;
}

#podcast-sponsor .imgs img {
    height: 2rem;
    margin: 1rem 4rem;
}

#podcast-sponsor .single-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: max-content;
    display: flex;
}

#podcast-sponsor .single-track:nth-of-type(1) {
    animation: slide 8s linear 0s infinite forwards;
    -webkit-animation: slide 8s linear 0s infinite forwards;
    animation-fill-mode: both;
}

#podcast-sponsor .single-track:nth-of-type(2) {
    animation: slide 8s linear 4s infinite forwards;
    -webkit-animation: slide 8s linear 4s infinite forwards;
    animation-fill-mode: both;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6.5rem;

    text-align: center;
    position: relative;
    padding: calc(2*var(--vert-padding)) var(--horiz-padding);
}

#about h2 {
    width: 80%;
    max-width: 1000px;
}

.scribble-top {
    position: absolute;
    top: -4.5rem;
    width: 9rem;
    height: auto;
}

#parrallele-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#parrallele-img .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 45%;
    max-width: 540px;
}

#parrallele-img .card svg {
    width: 80%;
    height: auto;
}

#parrallele-img .card p {
    line-height: 160%;
}

@media only screen and (max-width: 1500px) {
    #parrallele-img{
        gap: 4rem;
    }

    #parrallele-img .card{
        padding: 2rem;
    }
}

@media only screen and (max-width: 992px) {
    header {
        padding: .8rem var(--horiz-padding);
        box-shadow: 0px 7px 10px 2px #0000000D;
    }

    header .logo {
        width: 3.4rem;
        height: 3.4rem;
    }

    nav,
    nav .left,
    nav .right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .left,
    nav .right {
        width: 100%;
        max-width: 450px;
    }

    nav .right>* {
        width: 100%;
        min-width: max-content;
    }

    header nav #spacer {
        display: flex;
    }

    #nav-toggler {
        z-index: 17;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        width: 1.8rem;
        aspect-ratio: 1;

        border: none;
        padding: 0.2rem;
        background-color: transparent;
    }

    #nav-toggler img {
        display: flex;
        width: 100%;
        height: auto;
        z-index: 11;

        position: absolute;
    }

    #nav-toggler #quit-img {
        opacity: 0;
    }

    nav.visible~#nav-toggler #quit-img {
        opacity: 1;
    }

    nav.visible~#nav-toggler #menu-img {
        opacity: 0;
    }

    header nav {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        gap: 3rem;
        padding: var(--vert-padding) var(--horiz-padding) calc(var(--vert-padding) * 1.2);
        background-color: var(--champagne);
        opacity: 0;
    }

    nav,
    #nav-toggler svg {
        transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
    }

    nav.visible {
        right: 0%;
        z-index: 16;
        opacity: 1;
    }

    nav.visible .left a,
    nav.visible .right>* {
        /*opacity: 0;
        */
        animation: fade-in 0.25s cubic-bezier(0.19, 0.35, 0, 1) calc(.05s * var(--i)) 1 forwards;
        -webkit-animation: fade-in 0.25s cubic-bezier(0.19, 0.35, 0, 1) calc(.05s * var(--i)) 1 forwards;
        animation-fill-mode: both;
    }

    nav>* {
        width: 100%;
        justify-content: center;
    }

    #dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        /* background-color: var(--champagne); */
        position: absolute;
        top: calc(100% + .6rem);
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    #dropdown:hover #dropdown-content {
        align-items: inherit;
    }

    #podcast .top .svg-container {
        padding-right: 3rem;
    }

    #podcast .top .svg-container.star svg {
        height: 10rem;
        width: auto;
    }

    .top .main-content p {
        width: 80%;
        max-width: 250px;
    }
}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 992px) {
    #podcast-sponsor .content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 724px) {
    #podcast-sponsor .single-track:nth-of-type(2) {
        display: none;
    }

    #podcast-sponsor .single-track:nth-of-type(1) {
        animation: slide 12s linear 0s infinite forwards;
        -webkit-animation: slide 12s linear 0s infinite forwards;
        animation-fill-mode: both;
    }
}

@media only screen and (max-width: 680px) {
    #podcast {
        flex-direction: column;
        padding: calc(2 * var(--vert-padding)) var(--horiz-padding);
    }

    #podcast .top {
        flex-direction: column;
        position: relative;
        gap: 2.2rem;
        padding: 0;
    }

    #podcast .top .main-content {
        width: 100%;
        order: 2;
    }

    .top .main-content .descri>* {
        width: 100%;
    }

    #podcast .top .svg-container {
        height: 6rem;
        width: 100%;
    }

    #podcast .top .svg-container:nth-of-type(1) {
        order: 3;
        height: 10rem;
    }

    #podcast .top .svg-container.star {
        order: 1;
    }

    #podcast .top .svg-container.star svg {
        position: absolute;
        right: 0;
        height: 6rem;
    }

    #podcast .top .svg-container:nth-of-type(1) svg {
        /* transform: rotateZ(-45deg); */
        position: absolute;

        height: 14rem;
        left: calc(-1*var(--horiz-padding));
    }

    #parrallele-img{
        flex-direction: column;
    }

    #parrallele-img .card{
        width: 100%;
        max-width: 320px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
        -webkit-transform: translateX(-4rem);
        -moz-transform: translateX(-4rem);
        -ms-transform: translateX(-4rem);
        -o-transform: translateX(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes slide {
    0% {
        left: -140vw
    }

    100% {
        left: 140vw
    }
}