@import '/src/styles/components/part1.css';
@import '/src/styles/components/part2.css';

@font-face {
	font-family: "Monserrat";
	src: url("/assets/fonts/MontserratAlternates-Regular.ttf")
}

:root {
	--white: #FFF;
	--black: #000;
	--grey: #4D4D4D;
	--blue: #81ADC8;
	--champagne: #F7EDE8;
	--vermillon: #CD4631;
	--vermillon-o: #cd4631b4;

	--horiz-padding: 10%;
	--vert-padding: 4rem;

	font-size: 19px;
	color: var(--black);
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Monserrat';
}

a {
	/* display: inline-flex; */
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* line-height: 1.5rem; */
}

button:hover,
a:hover {
	cursor: pointer;
}


h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 2.6rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.25rem;
}

#main-content {
	z-index: 15;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	scroll-behavior: smooth;

	position: relative;
}

#main-content>*:not(header) {
	z-index: 10;
}

.primary-btn {
	display: flex;
	padding: 1.2rem 2.8rem;
	justify-content: center;
	align-items: center;

	color: var(--white);
	border-radius: 0.5rem;
	background: var(--black);
	border: 1px solid var(--black);
	box-shadow: .4rem .4rem 0px 0px rgba(0, 0, 0, 0.25);

	font-size: 0.875rem;
	font-weight: 500;
	line-height: 160%;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

@media only screen and (max-width: 1600px) {
	:root {
		--horiz-padding: 9.5%;
		--vert-padding: 3.5rem;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		font-size: 12px;
		--horiz-padding: 8%;
		--vert-padding: 2rem;
	}
}

@media only screen and (max-width: 992px) {
	:root {
		--horiz-padding: 4%;
		--vert-padding: 4rem;
		font-size: 12px;
	}
}

@media only screen and (max-width: 680px) {
	:root {
		--vert-padding: 4rem;
		--horiz-padding: 30px;
	}
}

@media only screen and (max-width: 450px) {
	:root {
		--horiz-padding: 20px;
	}

}